/* regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
}

li:hover {
    text-decoration: underline;
}

.button:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-container {
    width: 70%;
    margin: 0 auto;
    padding: 60px 0;
}

.container, .last-section {
    text-align: center;
}

.align-left {
    text-align: left;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

/* header style */

header {
    height: 450px;
    padding-top: 20px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    color: white;
}

.logo {
    height: 30px;
}

nav > ul {
    width: 50%;
}

ul.flex-container {
    align-items: center;
}

.jumbotron {
    width: 60%;
    margin: 100px auto;
}

.jumbotron p {
    line-height: 160%;
}

h2 {
    font-size: 38px;
    line-height: 125%;
    margin-bottom: 20px;
}


/* button style */

.button {
    border: none;
    height: 35px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: calc(35px / 2);
    line-height: calc(35px / 2);
}

.button.browser {
    background-color: #23272a;
    color: white;
}

.downloader > .button, .last-section > .button {
    margin-top: 15px;
}

.button.sign-up {
    color: #23272a;
}

.button.purple {
    color: white;
    background-color: #7289da;
}

/* image style */

.img {
    width: 100%;
}

/* section style */

.background-grey {
    background-color: #f6f6f6;
}

.flex.text {
    padding-top: 20px;
    width: 35%;
}

p {
    font-size: 15px;
    line-height: 160%;
}

.flex.image {
    width: 60%;
}

.text.last {
    width: 89%;
    margin: 0 auto;
}

h3 {
    height: 50px;
    width: 50%;
    line-height: 50px;
    margin: 15px auto;
    background-image: url(../img/stars.svg);
    background-size: contain;
}

/* footer */

footer{
    padding: 80px 0;
    background-color: #23272a;
    font-size: 12px;
    color: white;
    line-height: 250%;
}

h4 {
    font-size: 28px;
    margin-bottom: 10px;
}

#flag {
    width: 15px;
}

span {
    margin-bottom: 10px;
}

.purple {
    color: #7289da;
}

.flex-container.foot {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
}

.align-left.big {
    flex-basis: 25%;
}

.flex-container.small {
    flex-basis: 75%;
}

.fa-brands {
    font-size: 15px;
    margin: 5px;
}

